
body {
  margin: 0;
  height: 100vh;
  background-image: url(image/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bebas Neue', sans-serif;
}
.container {
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  width: 20em;
  height: 25em;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background: #f5b8e1;
  box-shadow: 0px 10px 2px #f290d3;
}
#nxtBTN {
  position: absolute;
  color: hotpink;
  font-family: "Playwrite AU QLD";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  bottom: 1rem;
  left: 40%;
  padding: 0.7rem 1.5rem;
  border-radius: 11px;
  background: linear-gradient(145deg, #ffdaa2, #dbb888);
  box-shadow: 10px 10px 20px #c0a177, -10px -10px 20px #fff7b7;
  border: none;
}
#nxtBTN a{
    text-decoration: none;
    color: hotpink;
}
#cat_image {
  margin-top: 2em;
  width: 10em;
  height: 10em;
  border: #e768bd solid;
  border-radius: 50px;
}
#bow_box {
  position: absolute;
  top: 7.5em;
  right: 10.5em;
  width: 7em;
  z-index: 2;
  transform: rotate(25deg);
}
#bow_box img {
  width: 100%;
  height: auto;
}
.txt {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.0rem;
  color: hotpink;
}
#inst {
  padding-top: 2em;
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1.3rem;
  color: hotpink;
}
#env {
  width: 15em;
  cursor: pointer;
  transition: transform 0.2s ease;
}
#env:hover {
  transform: scale(1.1);
}

.paper_box {
  display: none;
  width: px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: linear-gradient(135deg, #fbd3e9 0%, #fceff9 100%);
  border: 1px solid #e0a3c6;
  border-radius: 12px;
  box-shadow: inset 0 0 20px #ffedf3;
  color: #8b005d;
  font-size: 1.1rem;
  animation: zoomIn 0.4s ease forwards;
}
.paper_box p{
    overflow: auto;
    width: 20em;
    height: 10em;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: #ffdaa2;
  }
  50% {
    transform: scale(0.9);
    background-color: #ffc0cb;
  }
  100% {
    transform: scale(1);
    background-color: #ffdaa2;
  }
}
.clicked {
  animation: clickEffect 0.4s ease;
}
@media (max-width: 500px) {
  .container {
    padding: 1em;
    width: 95%;
  }

  .paper_box {
    font-size: 1rem;
  }
}